.container {
  background-color: #333;
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1700px;
  padding: 20px;
  margin: 20px;
  img {width: 600px; height: auto;};
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.text1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.text3 {
  font-size: 20px;
}



