table {
    border: 2px white solid;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 1px white solid;    
    padding: 5px;
    min-width: 10px;
    text-align: center;
}

.schedulediv {
    margin: 35px;
    background-color: #333;
    padding: 25px;
    border-radius: 25px;
    color: white;
    max-width: 750px
}